/*  Generic colors */
$dark-blue: #154AAC;
$light-blue: #BCD4FF;
$white: #FFFFFF;

/* Module specific color*/
$form-builder-banner-border: #CFCFCF;
$form-builder-banner-shadow: rgba(0, 0, 0, 0.05);
$form-action-background: #EBF0FF;
$form-action-border: #BCD4FF;